<!DOCTYPE html>
<html lang="ja">
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>RSSアンテナ</title>
  </head>
  <body>
    <h1>RSSアンテナ</h1>
    <%= yield %>

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
